@model PersonsProfileMVC.Models.PersonsProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonsProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.qualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isEmployed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isEmployed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.noticePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.noticePeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.currentCTC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.currentCTC)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
